# Auto detect text files and perform LF normalization
* text=auto eol=lf

# JS/CSS/HTML files
*.js text eol=lf
*.css text eol=lf
*.html text eol=lf
*.json text eol=lf
*.md text eol=lf
*.svg text eol=lf
*.py text eol=lf

# Binary files
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.woff2 binary
*.mp4 binary
*.mp3 binary
